<footer class="mt-auto container-fluid text-black d-flex justify-content-center align-items-center">
   <div>
    <ul class="navega" >
      <li class="list-inline-item">
<a class="decoration" target="blank_" href="https://www.facebook.com"> <img class="logo-redes" src="./img/fb.png" alt="facebook"> </a>
    </li>
      <li class="list-inline-item">
        <a target="blank_" href="https://www.instagram.com"><img class="logo-redes" src="./img/ig.png" alt="instagram"></a>
      </li>
      <li class="list-inline-item">
        <a target="blank_" href="https://twitter.com/maritesarthe"><img class="logo-redes" src="./img/tw.png" alt="twitter"></a>
      </li>
         </ul>
     </div>
  
</footer>
