<nav class="navbar navbar-expand-lg navbar-dark bg-image" style="background-image:url(./img/fondorojo.jpg)">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img style="width: 150px;" src="./img/logo.png" alt="logo" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/email">Email</a>
          </li>
 {{#if logged}}
         
          <li class="nav-item">
            <a class="nav-link " href="/login/logout">Logout</a>
          </li>
          {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
      
      </div>
    </div>
  </nav>
  
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-mg-8 col-lg-4">
            <h1 class="text-center mb-5">Login</h1>
            {{#if msg}}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                    aria-label="Warning:">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    {{msg}}
                </div>
            </div>

            {{/if}}


            {{#each errors}}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                    aria-label="Warning:">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    {{msg}}
                </div>
            </div>
            {{/each}}

            <form action="login" method="POST" class="container form-person">
                {{!-- <label for="user" class="form-label">User</label> --}}
                <input id="user" type="text" class="form-control my-3" name="user" placeholder="User" autofocus {{#if
                    oldData.user}} value="{{oldData.user}}" {{/if}}>
                {{!-- <label for="pass" class="form-label">Password</label> --}}
                <input id="pass" type="password" class="form-control my-3" name="pass" placeholder="Password">

                <button class="btn btn-primary my-3" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

{{>footer}}